swagger: '2.0'

info:
  description: "This API retrieves CORE permissions information on different users."
  version: "1.0"
  title: "CORE Permissions API"

tags:
- name: "permissions"
  description: "HR, Student, and Finance permissions (1-5)"

schemes:
- "https"

host: "api.oregonstate.edu"

basePath: "/v1"

externalDocs:
  description: "GitHub Repository"
  url: "https://github.com/osu-mist/core-permissions-api"

consumes:
  - "application/json"

produces:
  - "application/json"

paths:

  /permissions:
    get:
      tags:
      - "permissions"
      summary: "Retrieve permissions for user by parameters"
      operationId: "getPermissions"
      parameters:
        - name: "osuID"
          in: "query"
          description: "OSU ID of person whose permissions will be retrieved"
          required: false
          type: "integer"
        - name: "onid"
          in: "query"
          description: "ONID of person whose permissions will be retrieved"
          required: false
          type: "integer"
      responses:
        200:
          description: "Permissions successfully retrieved"
          schema:
            $ref: "#/definitions/PermissionsResult"
        400:
          description: "Invalid syntax in parameters"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/Error"

definitions:

  PermissionLevel:
    type: "integer"
    minimum: 1
    maximum: 5

  Permissions:
    type: "object"
    properties:
      hrPermissions:
        $ref: "#/definitions/PermissionLevel"
      studentPermissions:
        $ref: "#/definitions/PermissionLevel"
      financePermissions:
        $ref: "#/definitions/PermissionLevel"

  SelfLink:
    type: "object"
    properties:
      self:
        type: "string"
        format: "url"
        description: "Self link of resource"

  PermissionsResult:
    type: "object"
    properties:
      data:
        type: "object"
        properties:
          id:
            type: "integer"
          type:
            type: "string"
            example: "permissions"
          attributes:
            $ref: "#/definitions/Permissions"
          links:
            $ref: "#/definitions/SelfLink"

  Error:
    type: "object"
    properties:
      status:
        type: "integer"
        description: "HTTP status code"
      code:
        type: "integer"
        description: "Specific error code"
      detail:
        type: "string"
        description: "Link to further information on error code"
