swagger: '2.0'

info:
  description: "This API retrieves CORE permissions information on different users."
  version: "1.0"
  title: "CORE Permissions API"

tags:
- name: "permissions"
  description: "HR, Student, and Finance permissions (1-5)"

schemes:
- "https"

host: "api.oregonstate.edu"

basePath: "/v1"

externalDocs:
  description: "GitHub Repository"
  url: "https://github.com/osu-mist/core-permissions-api"

consumes:
  - "application/json"

produces:
  - "application/json"

paths:

  /core-permissions/{id}:
    get:
      tags:
      - "permissions"
      summary: "Retrieve permissions for user by their OSU ID"
      operationId: "getPermissionsById"
      parameters:
        - name: "id"
          in: "path"
          description: "OSU ID of person whose permissions will be retrieved"
          required: true
          type: "string"

      responses:
        200:
          description: "Permissions successfully retrieved"
          schema:
            $ref: "#/definitions/PermissionsResult"
        404:
          description: "No permissions found for this OSU ID"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/Error"

  /core-permissions:
    get:
      tags:
      - "permissions"
      summary: "Retrieve permissions for user by parameters"
      operationId: "getPermissions"
      parameters:
        - name: "id"
          in: "query"
          description: "OSU ID of person whose permissions will be retrieved"
          required: false
          type: "string"
        - name: "username"
          in: "query"
          description: "ONID of person whose permissions will be retrieved"
          required: false
          type: "string"
      responses:
        200:
          description: "Permissions successfully retrieved"
          schema:
            $ref: "#/definitions/PermissionsResult"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/Error"

definitions:

  Permissions:
    type: "object"
    properties:
      username:
        type: "string"
        description: "ONID of person who permissions belong to"
        example: "browni"
      hrPermissionLevel:
        type: "integer"
        minimum: 0
        maximum: 5
        description: "HR permission level"
        example: 1
      studentPermissionLevel:
        type: "integer"
        minimum: 0
        maximum: 5
        description: "Student permission level"
        example: 2
      financialPermissionLevel:
        type: "integer"
        minimum: 0
        maximum: 4
        description: "Finance permission level"
        example: 3

  SelfLink:
    type: "object"
    properties:
      self:
        type: "string"
        format: "url"
        description: "Self link of resource"
        example: "https://api.oregonstate.edu/v1/core-permissions/123456789"

  PermissionsResource:
    type: "object"
    properties:
        id:
          type: "string"
          description: "OSU ID of person who permissions belong to"
          example: "123456789"
        type:
          type: "string"
          example: "permissions"
        attributes:
          $ref: "#/definitions/Permissions"
        links:
          $ref: "#/definitions/SelfLink"

  PermissionsResult:
    type: "object"
    properties:
        data:
          $ref: "#/definitions/PermissionsResource"

  Error:
    type: "object"
    properties:
      status:
        type: "integer"
        description: "HTTP status code"
        example: 123
      code:
        type: "integer"
        description: "Specific error code"
        example: 1400
      detail:
        type: "string"
        description: "Link to further information on error code"
        example: "https://developer.oregonstate.edu/documentation/error-reference#1400"
