swagger: '2.0'

info:
  description: "This API retrieves CORE permissions information on different users."
  version: "1.0"
  title: "CORE Permissions API"

tags:
- name: "permissions"
  description: "HR, Student, and Finance permissions (1-5)"

schemes:
- "https"

host: "api.oregonstate.edu"

basePath: "/v1"

externalDocs:
  description: "GitHub Repository"
  url: "https://github.com/osu-mist/core-permissions-api"

consumes:
  - "application/json"

produces:
  - "application/json"

paths:

  /permissions/{osuID}:
    get:
      tags:
      - "permissions"
      summary: "Retrieve permissions for user by their OSU ID"
      operationId: "getPermissionsById"
      parameters:
        - name: "osuID"
          in: "path"
          description: "OSU ID of person whose permissions will be retrieved"
          required: true
          type: "string"

      responses:
        200:
          description: "Permissions successfully retrieved"
          schema:
            $ref: "#/definitions/PermissionsResult"
        404:
          description: "No permissions found for this OSU ID"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/Error"

  /permissions:
    get:
      tags:
      - "permissions"
      summary: "Retrieve permissions for users by parameters"
      operationId: "getPermissions"
      parameters:
        - name: "osuID"
          in: "query"
          description: "OSU ID of person whose permissions will be retrieved"
          required: false
          type: "string"
        - name: "onid"
          in: "query"
          description: "ONID of person whose permissions will be retrieved"
          required: false
          type: "string"
      responses:
        200:
          description: "Permissions successfully retrieved"
          schema:
            $ref: "#/definitions/PermissionsResultArray"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/Error"

definitions:

  PermissionLevel:
    type: "integer"
    minimum: 0
    maximum: 5
    description: "Permission level for a given category"
    example: 3

  Permissions:
    type: "object"
    properties:
      onid:
        type: "string"
        description: "ONID of person who permissions belong to"
        example: "browni"
      hrPermissions:
        $ref: "#/definitions/PermissionLevel"
      studentPermissions:
        $ref: "#/definitions/PermissionLevel"
      financePermissions:
        $ref: "#/definitions/PermissionLevel"

  SelfLink:
    type: "object"
    properties:
      self:
        type: "string"
        format: "url"
        description: "Self link of resource"
        example: "https://api.oregonstate.edu/api/v1/permissions/123456789"

  PermissionsResource:
    type: "object"
    properties:
        id:
          type: "string"
          description: "OSU ID of person who permissions belong to"
          example: "123456789"
        type:
          type: "string"
          example: "permissions"
        attributes:
          $ref: "#/definitions/Permissions"
        links:
          $ref: "#/definitions/SelfLink"

  PermissionsResult:
    type: "object"
    properties:
        data:
          $ref: "#/definitions/PermissionsResource"

  PermissionsResultArray:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/PermissionsResource"

  Error:
    type: "object"
    properties:
      status:
        type: "integer"
        description: "HTTP status code"
        example: 404
      code:
        type: "integer"
        description: "Specific error code"
        example: 1400
      detail:
        type: "string"
        description: "Link to further information on error code"
        example: "https://developer.oregonstate.edu/documentation/error-reference#1400"
