<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Core Permissions API Demo</title>
    </head>
    <body>
        <header>
            <a href="https://oregonstate.edu/"><img id="logo" src="http://oregonstate.edu/themes/osu/drupal8-osuhomepage/logo.svg" alt="Oregon State University Logo"/></a>
            <a id="site-title"><h1>Core Permissions API Demo</h1></a>
        </header>

        <input name="osuID" type="number" placeholder="9 digit OSU ID">
        <input name="onid" type="text" placeholder="ONID username">
        <button type="search-button">Search</button>

        <div id="results-table">
            {% if data %}
        </div>


    </body>
</html>
