<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="osu.css") }}">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
        <title>Core Permissions API Demo</title>
    </head>
    <body>
        <header>
            <img id="logo" src="http://oregonstate.edu/themes/osu/drupal8-osuhomepage/logo.svg" alt="Oregon State University Logo"/></a>
        </header>
        <a id="site-title" href="/">
            <h1>Core Permissions API Demo</h1>
        </a>


        <section class="content">
            <p>Search for a user by either their 9-digit OSU ID (ex: 123456789) or their ONID (ex: smithj)</p>
        
            <div class="container">
                <form action="{{ url_for("base") }}", method="post">
                    <div class="form-group">
                        <input name="search" type="text" placeholder="Query" required="required">
                        <button type="submit" class="btn-primary">Search</button>
                    </div>
                </form>
                <form class="form-group" action="/">
                    <input class="btn-default" type="submit" value="Reset">
                </form>
            </div>

            {% if not responded %}
            <div class="alert alert-danger">
                <strong>Error: </strong>Server not found
            </div>
            {% endif %}
        
            {% if queried %}
            {% if data %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>OSU ID</th>
                            <th>ONID</th>
                            <th>HR Permissions</th>
                            <th>Student Permissions</th>
                            <th>Finance Permissions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{ data["id"] }}</th>
                            <th>{{ data["attributes"]["username"] }}</th>
                            <th>{{ data["attributes"]["hrPermissionLevel"] }}</th>
                            <th>{{ data["attributes"]["studentPermissionLevel"] }}</th>
                            <th>{{ data["attributes"]["financialPermissionLevel"] }}</th>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
            {% else %}
            <div class="alert alert-warning">
                <strong>No credentials were found for search</strong>
            </div>
            {% endif %}
            {% endif %}
        </section>
        

    </body>
</html>
